Repository arkinmodi/add-license-header: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, prettier-markdown

.pre-commit-config.yaml:

# yamllint disable rule:line-length
# yaml-language-server: $schema=https://json.schemastore.org/pre-commit-config.json
# yamllint enable rule:line-length
---
ci:
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: debug-statements
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: name-tests-test
      - id: trailing-whitespace

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
      - id: reorder-python-imports
        args: [--py39-plus, --add-import, "from __future__ import annotations"]

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.1
    hooks:
      - id: autopep8

  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict]

  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        language: node
        entry: prettier --write --ignore-unknown
        additional_dependencies:
          - prettier@latest
        types_or:
          - yaml

      - id: prettier-markdown
        name: Prettier (markdown)
        language: node
        entry: prettier --write --prose-wrap always
        additional_dependencies:
          - prettier@latest
        types_or:
          - markdown

add support for dockerfile and dockerignore files
  add_license_header.py
Due: none

add support for gitignore files
  add_license_header.py
Due: none

v2.3.1
  README.md
  setup.cfg
Due: prettier-markdown

support utf-8 file encoding
  .github/workflows/build.yml
  add_license_header.py
  tests/add_license_header_test.py
Due: prettier

v2.4.0
  README.md
  setup.cfg
Due: prettier-markdown

drop python 3.9 support
  .github/workflows/build.yml
  .pre-commit-config.yaml
  setup.cfg
Due: prettier

Add comment style for nix files
  add_license_header.py
Due: none

v2.4.1
  README.md
  setup.cfg
Due: prettier-markdown
